fastapi
uvicorn
sqlalchemy
pymysql
python-jose
passlib[bcrypt]
bcrypt==4.0.1
python-dotenv
email-validator
python-multipart
cryptography
# Admin Panel & UI
starlette-admin
itsdangerous
starlette-admin[tinymce]
python-multipart 
requests