fastapi
uvicorn
sqlalchemy
pymysql
python-jose
passlib[bcrypt]
python-dotenv
email-validator
python-multipart
cryptography
# Admin Panel & UI
starlette-admin
itsdangerous
starlette-admin[tinymce]
python-multipart 
fontawesomefree==6.5.2